@import "../../../styles/base.scss";

.container{
    width: 100%;
    @include directionY;
    align-items: center;
    .wrapper{
        width: 80%;
        @include directionY;
        align-items: end;
    }
}