$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-black: #000;
$color-date: #BFBFBF;

$color-border-input: #A6A6A6;
$background-post: #EDEDED;
$color-background-navbar: #f1f1f1;
$color-shortdesc: #6C6C6C;
$color-background-button: #2E86DE;